<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/formularios.css" />
        <title>Editar producto</title>
</head>

<body class="bg-black">
    <%- include("./partials/header.ejs") %>
        <main class="container m-15 mb-10">

            <form action="/products/edit/<%=p.id%>?_method=PUT" method="POST">
                <input type="hidden">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-fomulario text-center celeste-vpm">Estás editando:<i><%= p.name %></i></h2>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label celeste-vpm" for="name">Nombre del producto</label>
                        <input class="form-control" type=" text " id="name " name="name " value="<%=p .name %> ">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label celeste-vpm" for="ventor">Vendedor</label>
                        <input class="form-control" type="text" id="vendor" name="vendor" value="<%= p.vendor %>">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label celeste-vpm" for="price">Precio</label>
                        <input class="form-control" type="text" id="price" name="price" value="<%= p.price %>">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label celeste-vpm" for="minBuy">Minimo a comprar</label>
                        <input class="form-control" type="text" id="minBuy" name="minBuy" value="<%= p.minBuy %>">
                    </div>

                    <div class="col-md-6"><label class="form-label celeste-vpm" for="stock">Stock</label>
                        <input class="form-control" type=" text " id="stock " name="stock " value="<%=p .stock %>">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label celeste-vpm" for="category">Categoria</label>
                        <input class="form-control" type="text" id="category" name="category" value="<%= p.category %>">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label celeste-vpm" for="description">description</label>
                        <textarea class="form-control" type="text" id="description"><%= p.description %>"</textarea>
                    </div>

                    <div class="col-md-6"><label class="form-label celeste-vpm" for="img">Imagen</label>
                        <input class="form-control" type="file" id="img" name="img" value="<%= p.img %>">
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-5">
                        <button class=" btn btn-outline-info mb-5 w-50 " type="submit ">Guardar cambios</button>
                    </div>
                </div>

            </form>
            <form class="d-flex justify-content-center " action="/products/delete/<%=p.id%>?_method=DELETE" method="POST"> <button class="btn btn-outline-info mb-5 w-50" type="submit">Eliminar producto</button></form>

        </main>
        <%- include("./partials/footer.ejs") %>
</body>

</html>