<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>

        <link rel="stylesheet" href="/css/home.css" />
        <title>Todos los productos</title>
</head>

<body>
    <%- include("./partials/header.ejs") %>

        <main class="bg-white mt-4">
            <div class="container">
                <h2>Todos los productos</h2>
                <div class="row">
                        <% products.forEach(product => { %>
                        <article class="cont-card col-md-3 col-sm-6">
                            <div class="card position-relative m-2">
                                <img class="card-img-top" src="img/articulos/<%=product.category%>/<%=product.image%> ">
                                <div class="card-body card-description">
                                    <i class="icon-card fa-solid fa-heart fa-2x "></i>
                                    <h4 class="card-title">" <%=product.name%> "</h4>
                                    <div class="sub-card">
                                        <p class="card-price">$<%=product.price%> </p>
                                        <p class="card-discount">10% off</p>
                                    </div>
    
                                </div>
                            </div>
                        </article>
                        <% }) %>
                    </div>
            </div>
        </main>

    <%- include("./partials/footer.ejs") %>
</body>
