<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="/css/formularios.css" />
        <title>Registro</title>

</head>

<body class="bg-black">
    <%- include("../partials/header.ejs") %>
        <main class="container m-15 mb-10">
            <div>
                <h1 class="titulo-fomulario text-center celeste-vpm">Perfil de usuario</span></h1>
            </div>
            <form method="POST" action="" enctype="multipart/form-data">
                <div class="row">
                    <div class="mb-3">
                        <label for="username" class="form-label celeste-vpm">Nombre de usuario</label>
                        <input type="text" class="form-control" id="username" value="<%= u.userName%>" name="userName" placeholder="Ingrese caracteres alfanuméricos, guiones o guiones bajos" required>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-6">
                        <label for="firstName" class="form-label celeste-vpm">Nombre</label>
                        <input type="text" class="form-control" id="firstName" value="<%= u.firstName%>" name="firstName" required>
                    </div>

                    <div class="mb-3 col-md-6 col-lg-6">
                        <label for="lastName" class="form-label celeste-vpm">Apellido</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= u.lastName%>" required>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-6">
                        <label for="businessName" class="form-label celeste-vpm">Nombre de la empresa</label>
                        <input type="text" class="form-control" id="businessName" value="<%= u.companyName%>" name="companyName">
                    </div>

                    <div class="mb-3 col-md-6 col-lg-6">
                        <label for="businessId" class="form-label celeste-vpm">Cuit</label>
                        <input type="text" class="form-control" id="businessId" name="cuit" value="<%= u.cuit%>" placeholder="xx-xxxxxxxx-x" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label celeste-vpm">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="<%= u.email%>" placeholder="nombre@ejemplo.com.ar" required>
                        <div id="emailHelp" class="form-text text-light">Nunca compartiremos su correo electrónico con nadie más.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label celeste-vpm">Contraseña</label>
                        <input type="text" class="form-control" name="password" readonly id="exampleInputPassword1" value="NO CAMBIA EL PASS">
                    </div>
                    <div class="mb-3">
                        <label for="contact" class="form-label celeste-vpm">Teléfono</label>
                        <input type="tel" class="form-control" name="contact" value="<%= u.phoneNumber%>" id="contact" required>
                    </div>
                    <div class="mb-3">
                        <label for="img" class="form-label celeste-vpm">Foto de perfil</label>
                        <input class="form-control" type="file" id="img" name="img" placeholder="Cambiar de imagen de perfil">
                    </div>
                    
                    <div class="d-flex justify-content-center mt-5 mb-5"><button type="submit" class="btn btn-outline-info mb-5 w-50">Modificar</button>
                    </div>
                </div>
            </form>



        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>